centerh1 {
  text-align: center;
}

.mainPageButton {
  display:inline-block;
  height:50px;
  width:50px;
}

footer {
  position: fixed;
  left: 10px;
  bottom: 5px;
  right: 10px;
  width: 100%;
  text-align: center;
}
